<div ng-app="ngTokenAuth" ng-controller="ngTokenAuthController" style="text-align: center;">
	<button ng-click="googleLogin()">Google Login</button>
<!-- 	<ul>
    <li ng-repeat="thing in things">
      {{thing.name}}
    </li>
  </ul> -->
</div>
